Flask==0.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Jinja2==2.6
lxml==3.2.1
M2Crypto==0.21.1
oauthlib==0.7.2
python-aggcat==0.9
requests==1.2.0
requests-oauthlib==0.3.3
SQLAlchemy==0.7.9
Werkzeug==0.8.3
WTForms==1.0.2
Flask==0.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
gnureadline==6.3.3
ipython==2.4.1
Jinja2==2.6
lxml==3.2.1
M2Crypto==0.21.1
oauthlib==0.7.2
python-aggcat==0.9
requests==1.2.0
requests-oauthlib==0.3.3
SQLAlchemy==0.7.9
Werkzeug==0.8.3
WTForms==1.0.2
