body {
    padding-top: 20px;
}
@font-face {
    font-family: minimo-med;
    src: url("../Minimo/Minimo Medium.otf");
}
@font-face {
    font-family: minimo;
    src: url("../Minimo/Minimo.otf");
}
.main_block {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
#section-1{
    background-image: url("../img/vw.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    position: absolute;
}
#outline-header-on-img{
    padding: 10px 30px; 
    color: #eee;
    width: 400px;
    margin-top: 260px;
    margin-left: 825px;
    text-align: center;
    font-family: minimo-med;
    font-size: 40px;
}
#header{
    text-align: center;
    width: 800px;
    margin: 40px auto;
    font-family: minimo-med;
    font-size: 60px;
    color: #434348;
}
#section-4{
    background-image: none;
    width: 100%;
    height: 100px;
    margin-top: 800px;
    position: absolute;
}
#section-5{
    background-image: none;
    width: 100%;
    height: 100px;
    margin-top: 1000px;
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
