body {
    padding-top: 20px;
}
@font-face {
    font-family: minimo-med;
    src: url("../Minimo/Minimo Medium.otf");
}
@font-face {
    font-family: minimo;
    src: url("../Minimo/Minimo.otf");
}
.main_block {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
#vw-image{
    background-image: url("../img/vw2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 575px;
    position: absolute;
}
#header-on-img{
    padding: 10px 30px; 
    color: #eee;
    width: 400px;
    margin-top: 100px;
    margin-left: 825px;
    text-align: center;
    font-family: minimo-med;
    font-size: 40px;
}
#inbestment-logo{
    background-image: none;
    width: 100%;
    height: 100px;
    margin-top: 575px;
    position: absolute;
    text-align: center;
}
#lets-get-started-button{
    background-image: none;
    width: 100%;
    height: 100px;
    margin-top: 720px;
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
