{% extends 'base.html' %}
{% block body %}

<form action="/about">		
	<div class="container" style="width: 80%; text-align: left">
		<div class="jumbotron">
			<h2>About</h2>
			<a href="https://github.com/at4260/inbestment" target="_blank">
				<i class="fa fa-github fa-2x"></i>
			</a>
			<a href="https://linkedin.com/in/alicetsao" target="_blank">
				<i class="fa fa-linkedin-square fa-2x"></i>
			</a>
			<h4>Overview</h4>
			<h5>
				After the 2008 financial crisis, many Millennials are now more 
				conservative with their financial planning. This usually results 
				in poor long-term choices, such as keeping all assets in cash. 
				Millennials have the most time to take advantage of market growth 
				and rebound from market crashes, so we should be taking advantage 
				of our longer time horizon.
				<br>
				<br>

				Creating and maintaining a budget and getting out of debt should 
				always be the top priority. However, the next step is to set 
				longer-term financial goals, and there aren’t enough 
				easy-to-understand resources to help young people do this. 
				For example, if you have saved up $10,000, where should you put 
				it? Checkings, savings, company 401k, IRA, invest it?
				<br>
				<br>

				The goal of Inbestment is to help individuals easily come up 
				with a financial plan and determine the amount and type of 
				accounts they should be funding.
				<br>
				<br>
			</h5>

			<h4>Financial Assumptions</h4>
			<h5>
				User has no debt. If user has debt, getting rid of debt should
				be prioritized first before using Inbestment. User must have
				at least $1 in assets to use Inbestment.
				<br>
				<br>

				User has an income. Monthly expenses are being calculated as
				a percentage of income. If user has no income, please
				determine your annual expense and divide by 0.74 to use for
				the annual income.
				<br>
				<br>

				Monthly expenses are being calculated as:
				<br>
				<br>
				Monthly Income x
				<br>
				( 0.28 Housing Expense
				<br>
				+ 0.36 Misc/Non-housing Expense
				<br>
				+ 0.10 Cushion )
				<br>
				<br>

				Checking account should be funded with at least one month's 
				worth of expenses.
				<br>
				Savings account should be funded with at least three
				month's worth of expenses.
				<br>
				<br>

				The 2014 and 2015 contribution limit for an IRA is $5,500.
				Inbestment assumes this base case for all users. However,
				there are many other options the user might want to consider.
				If the user is 50 or over, the contribution limit is $6,500.
				Millennials will want to consider the Roth IRA, which is
				contributed to with after-tax assets, but no tax liability
				on withdrawals. Be sure to check the income limit for
				qualification.
				<br>
				<br>
			</h5>		

			<h4>Disclaimer and Terms of Use</h4>
			<h5>
				Information shown is for illustrative purposes only and is not
				intended as investment advice. Please consult a financial
				advisor for advice specific to your financial situtaiton.
				Inbestment makes no guarantee of achieving any particular
				outcome. Past performance is not a guarantee of future success.
				All investments involve risk and may result in loss.
				<br>
				<br>
			</h5>

			<h4>Acknowledgements</h4>
			<h5>
				<b>Design</b>
				<br>
				Bootstrap - Google Fonts - Minimo font type - Unsplash - Font Awesome
				<br>
				<br>

				<b>Tools</b>
				<br>
				Intuit API - Python aggcat client - Quandl API - Highcharts
				<br>
				<br>

				<b>Instructors</b>
				<br>
				Heather Bryant - Joel Burton - Cynthia Dueltgen - Katie 
				LeFevre - Meggie Mahnken - Kristen McClure
				<br>
				<br>

				<b>Mentors</b>
				<br>
				Frances Advincula - Martin Cozzi - Meg Desko
				<br>
				<br>

				<b>Additional Support</b>
				<br>
				Taylor Hesselgrave (for coming up with the project name) - 
				Sarah Bindman (for coming up with the logo design) - 
				Kristen McClure (for designing the logo) - the "loud corner"
			</h5>

			
		</div>
	</div>
</form>

{% endblock %}
