{% extends 'base.html' %}
{% block body %}

<form method="POST">
	<h3> Please Create an Account </h3>
	<div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
    	<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <br>
    
    <button type="submit" class="btn btn-default"> Create Account </button>
</form>
<br>

{% endblock %}
