{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/input/assets">Survey</a></li>
    <li role="presentation"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/results">Results</a></li>
    <li role="presentation"><a href="/investments">Investments</a></li>
</ul>

<div class="jumbotron">
 	<div class="container">
    	<h1 id="logo" style="font-size: 70px"; >inbestment</h1>
    	<p style="font-family: minimo">when the mattress won't cut it anymore</p>

		{% if g.logged_in == True %}
    	<p><a class="btn btn-primary btn-lg" href="/profile" role="button">Let's Get Started</a></p>

    	{% else %}
    	<p><a class="btn btn-primary btn-lg" href="/login" role="button">Let's Get Started</a></p>

    	{% endif %}

  	</div>
</div>

{% endblock %}
