{% extends 'base.html' %}
{% block body %}

<div class="jumbotron">
 	<div class="container">
    	<img src="../static/inbestment.gif">
    	<p style="font-family: minimo">when the mattress won't cut it anymore</p>

		{% if g.logged_in == True %}
    	<p><a class="btn btn-primary btn-lg" href="/profile" role="button">Let's Get Started</a></p>

    	{% else %}
    	<p><a class="btn btn-primary btn-lg" href="/login" role="button">Let's Get Started</a></p>

    	{% endif %}

  	</div>
</div>

{% endblock %}
