{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile">Profile</a></li>
    <li role="presentation" class="active"><a href="/input/banking">Survey</a></li>
    <li role="presentation"><a href="/results">Results</a></li>
    <li role="presentation"><a href="/investments">Investments</a></li>
</ul>
<br>    
	
<form action="/input/income" method="POST">		
	<div class="container" style="width: 50%">
		<div class="jumbotron">
			<nav>
				<ul class= "pagination">
					<li><a href="/input/banking">1</a></li>
					<li><a href="/input/assets">2</a></li>
					<li class="active"><a href="/input/income">Question 3</a></li>
					<li><a href="/input/comp_401k">4</a></li>
					<li><a href="/input/match_401k">5</a></li>
					<li><a href="/input/match_percent">6</a></li>
					<li><a href="/input/match_salary">7</a></li>
					<li><a href="/input/risk_tolerance">8</a></li>
					<li><a href="/input/assets">1</a></li>
				</ul>
			</nav>

			<label >What's your income? <input type="text" name="income" required value={{income}}>
	    	</label>
	    	
			<p><button class="btn btn-primary btn-lg" type="submit">Next</button></p>
			
		</div>
	</div>
</form>

{% endblock %}
