{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile">
    	<i class="fa fa-user fa-fw fa-lg"></i>Profile
    </a></li>
    <li role="presentation" class="active"><a href="/input/banking">
    	<i class="fa fa-list-alt fa-fw fa-lg"></i> Survey
    </a></li>
    <li role="presentation"><a href="/results">
    	<i class="fa fa-bullseye fa-fw fa-lg"></i>Priority Goals
    </a></li>
    <li role="presentation"><a href="/investments">
    	<i class="fa fa-line-chart fa-fw fa-lg"></i>  Investments
    </a></li>
</ul>
<br>

<div class="container" style="width: 50%">
	<div class="jumbotron">
		<nav>
			<ul class= "pagination">
				<li class="active"><a href="/input/banking">
					Question 1
				</a></li>
				<li><a href="/input/assets">2</a></li>
				<li><a href="/input/income">3</a></li>
				<li><a href="/input/comp_401k">4</a></li>
				<li><a href="/input/match_401k">5</a></li>
				<li><a href="/input/match_terms">6</a></li>
				<li><a href="/input/risk_tolerance">7</a></li>
			</ul>
		</nav>

		<h3> Let's start </h3>
		<h5> Would you like to add your checking account? </h5>
		<form action="/banklogin">		
			<p><button type="submit" class="button">
				<i class="fa fa-plus-circle fa-2x"></i>
			</button></p>
		</form>
		<form action="/input/assets">		
			<p><button type="submit" class="button">
				<img src="../static/img/double_black_arrow.png" />
			</button></p>
		</form>

	</div>
</div>

{% endblock %}
