{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile">
    	<i class="fa fa-user fa-fw fa-lg"></i>Profile
    </a></li>
    <li role="presentation" class="active"><a href="/input/banking">
    	<i class="fa fa-list-alt fa-fw fa-lg"></i> Survey
    </a></li>
    <li role="presentation"><a href="/results">
    	<i class="fa fa-bullseye fa-fw fa-lg"></i>Priority Goals
    </a></li>
    <li role="presentation"><a href="/investments">
    	<i class="fa fa-line-chart fa-fw fa-lg"></i>  Investments
    </a></li>
</ul>
<br>   
	
<form action="/input/match_terms" method="POST">		
	<div class="container" style="width: 50%; margin-top: 50px">
		<div class="jumbotron">
			<nav>
				<ul class= "pagination">
					<li><a href="/input/banking">1</a></li>
					<li><a href="/input/assets">2</a></li>
					<li><a href="/input/income">3</a></li>
					<li><a href="/input/comp_401k">4</a></li>
					<li><a href="/input/match_401k">5</a></li>
					<li class="active"><a href="/input/match_terms">
						Question 6
					</a></li>
					<li><a href="/input/risk_tolerance">7</a></li>
				</ul>
			</nav>

			<script>
			$(function() {
				$('[data-toggle="popover"]').popover()
			})
			</script>
			
			<label>What are the match terms?</label>
			<i tabindex="0" class="fa fa-question-circle" data-toggle="popover"
			 data-trigger="focus" data-content="For example: 100% (percent of 
			 match) of the first 6% (percent of salary), meaning your company 
			 will match 100% up to 6% of your salary. If your salary is $50,000
			 and you contributed 6% of your salary (or $3,000), your employer 
			 will match 100% of that (receive $3,000)."></i>
   			<br>
		    <label>Percent of match
				{% if match_percent == 1.0 %}
					<select name="match_percent">
						<label><option value="0.5" >50%</option>
						</label>
						<label><option value="1.0" selected="selected">
							100%
						</option>
						</label>
					</select>
				{% else %}
					<select name="match_percent">
						<label><option value="0.5" selected="selected">
							50%
						</option></label>
						<label><option value="1.0">
							100%
						</option></label>
					</select>
				{% endif %}
			</label>
			<br>

			<label>Percent of salary to match
				{% if match_salary == 0.04 %}
					<select name="salary_percent">
						<label><option value="0.03">3%</option>
						</label>
						<label><option value="0.04" selected="selected">
							4%
						</option></label>
						<label><option value="0.05">5%</option>
						</label>
						<label><option value="0.06">6%</option>
						</label>
					</select>
				{% elif match_salary == 0.05 %}
					<select name="salary_percent">
						<label><option value="0.03">3%</option>
						</label>
						<label><option value="0.04">4%</option>
						</label>
						<label><option value="0.05" selected="selected">
							5%
						</option></label>
						<label><option value="0.06">6%</option>
						</label>
					</select>
				{% elif match_salary == 0.06 %}
					<select name="salary_percent">
						<label><option value="0.03">3%</option>
						</label>
						<label><option value="0.04">4%</option>
						</label>
						<label><option value="0.05">5%</option>
						</label>
						<label><option value="0.06" selected="selected">
							6%
						</option></label>
					</select>
				{% else %}
					<select name="salary_percent">
						<label><option value="0.03" selected="selected">
							3%
						</option></label>
						<label><option value="0.04">4%</option>
						</label>
						<label><option value="0.05">5%</option>
						</label>
						<label><option value="0.06">6%</option>
						</label>
					</select>
				{% endif %}
			</label>

	    	
			<p><button type="submit" class="button">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</button></p>
			
		</div>
	</div>
</form>

{% endblock %}
