{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile">
    	<i class="fa fa-user fa-fw fa-lg"></i>Profile
    </a></li>
    <li role="presentation" class="active"><a href="/input/banking">
    	<i class="fa fa-list-alt fa-fw fa-lg"></i> Survey
    </a></li>
    <li role="presentation"><a href="/results">
    	<i class="fa fa-bullseye fa-fw fa-lg"></i>Priority Goals
    </a></li>
    <li role="presentation"><a href="/investments">
    	<i class="fa fa-line-chart fa-fw fa-lg"></i>  Investments
    </a></li>
</ul>
<br>
	
<form action="/input/risk_tolerance" method="POST">		
	<div class="container" style="width: 50%; margin-top: 50px">
		<div class="jumbotron">
			<nav>
				{% if g.user.company_401k == "No" %}
					<ul class= "pagination">
						<li><a href="/input/banking">1</a></li>
						<li><a href="/input/assets">2</a></li>
						<li><a href="/input/income">3</a></li>
						<li><a href="/input/comp_401k">4</a></li>
						<li class="disabled"><a href="/input/match_401k">
							5
						</a></li>
						<li class="disabled"><a href="/input/match_terms">
							6
						</a></li>
						<li class="active"><a href="/input/risk_tolerance">
							Question 7
						</a></li>
					</ul>
				{% elif g.user.company_match == "No" %}
					<ul class= "pagination">
						<li><a href="/input/banking">1</a></li>
						<li><a href="/input/assets">2</a></li>
						<li><a href="/input/income">3</a></li>
						<li><a href="/input/comp_401k">4</a></li>
						<li><a href="/input/match_401k">5</a></li>
						<li class="disabled"><a href="/input/match_terms">
							6
						</a></li>
						<li class="active"><a href="/input/risk_tolerance">
							Question 7
						</a></li>
					</ul>
				{% else %}
					<ul class= "pagination">
						<li><a href="/input/banking">1</a></li>
						<li><a href="/input/assets">2</a></li>
						<li><a href="/input/income">3</a></li>
						<li><a href="/input/comp_401k">4</a></li>
						<li><a href="/input/match_401k">5</a></li>
						<li><a href="/input/match_terms">6</a></li>
						<li class="active"><a href="/input/risk_tolerance">
							Question 7
						</a></li>
					</ul>
				{% endif %}
			</nav>
			
			<label >What is your risk tolerance?
				<br>
		    	{% if risk_tolerance == "Moderate" %}
					<select name="risk_tolerance">
						<label><option value="Conservative">
							Conservative
						</option></label>
						<label><option value="Moderate" selected="selected">
							Moderate
						</option></label>
						<label><option value="Aggressive">Aggressive</option>
						</label>
					</select>
				{% elif risk_tolerance == "Aggressive" %}
					<select name="risk_tolerance">
						<label><option value="Conservative">
							Conservative
						</option></label>
						<label><option value="Moderate">Moderate</option>
						</label>
						<label><option value="Aggressive" selected="selected">
							Aggressive
						</option></label>
					</select>
				{% else %}
					<select name="risk_tolerance">
						<label><option value="Conservative" selected="selected">
							Conservative
						</option></label>
						<label><option value="Moderate">Moderate</option>
						</label>
						<label><option value="Aggressive">Aggressive</option>
						</label>
					</select>
				{% endif %}
			</label>
	    	
			<p><button type="submit" class="button">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</button></p>
			
		</div>
	</div>
</form>

{% endblock %}
