{% extends 'base.html' %}
{% block body %}
	<h1> Let's start </h1>
	<form action="/input" method="POST">
		<label >How much money do you have (checking only)? <input type="text" name="assets">
	    </label>
	    <br>

	    <label >What's your income? <input type="text" name="income">
	    </label>
	    <br>

	    Does your company have a 401k? 
	    <label><input type="radio" name="401k" value="Yes"> Yes 
	    </label>
	    <label><input type="radio" name="401k" value="No"> No 
	    </label>
	    <br>

	    Does your company offer a 401k match?
	    <label><input type="radio" name="match" value="Yes"> Yes 
	    </label>
	    <label><input type="radio" name="match" value="No"> No 
	    </label>
	    <br>

	    What are the match terms? <br>
	    For example: 100% of the first 6%, meaning your company will match 100% up to 6% of your salary. <br> If your salary is $50,000 and you contributed 6% (or $3,000), your employer will match 100% of that (receive $3,000).
		<br>
	    <label>Percentage of match
			<select name="match_percent">
				<label><option value="0.0">0%</option>
				</label>
				<label><option value="0.5">50%</option>
				</label>
				<label><option value="1.0">100%</option>
				</label>
			</select>
		</label>
		<br>

		<label >Percentage of salary
			<select name="salary_percent">
				<label><option value="0.00">0%</option>
				</label>
				<label><option value="0.03">3%</option>
				</label>
				<label><option value="0.04">4%</option>
				</label>
				<label><option value="0.05">5%</option>
				</label>
				<label><option value="0.06">6%</option>
				</label>
			</select>
		</label>
		<br>

	    <label >What is your risk tolerance?
			<select name="risk_tolerance">
				<label><option value="Conservative">Conservative</option>
				</label>
				<label><option value="Moderate">Moderate</option>
				</label>
				<label><option value="Aggressive">Aggressive</option>
				</label>
			</select>
		</label>
		<br>

		<br> 
	    <input type="submit">
	</form>
	<br>
	<br>
	<form action="/banklogin">
		<h4> Want to add a bank account? </h4>
		<button type="submit"> Add my account </button>
	</form>
{% endblock %}
