{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/input/assets">Survey</a></li>
    <li role="presentation"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/results">Results</a></li>
    <li role="presentation"><a href="/investments">Investments</a></li>
</ul>
<br>    
	
<form action="/input/match_percent" method="POST">		
	<div class="container" style="width: 50%">
		<div class="jumbotron">
			<nav>
				<ul class= "pagination">
					<li><a href="/input/assets">1</a></li>
					<li><a href="/input/income">2</a></li>
					<li><a href="/input/comp_401k">3</a></li>
					<li><a href="/input/match_401k">4</a></li>
					<li class="active"><a href="/input/match_percent">Question 5</a></li>
					<li><a href="/input/match_salary">6</a></li>
					<li><a href="/input/risk_tolerance">7</a></li>
				</ul>
			</nav>

			
			What are the match terms? <br>
		    For example: 100% of the first 6%, meaning your company will match 100% up to 6% of your salary. <br> If your salary is $50,000 and you contributed 6% (or $3,000), your employer will match 100% of that (receive $3,000).
			<br>
		    <label>Percentage of match
				{% if match_percent == 1.0 %}
					<select name="match_percent">
						<label><option value="0.5" >50%</option>
						</label>
						<label><option value="1.0" selected="selected">100%</option>
						</label>
					</select>
				{% else %}
					<select name="match_percent">
						<label><option value="0.5" selected="selected">50%</option>
						</label>
						<label><option value="1.0" >100%</option>
						</label>
					</select>
				{% endif %}
			</label>
	    	
			<p><button class="btn btn-primary btn-lg" type="submit">Next</button></p>
			
		</div>
	</div>
</form>

{% endblock %}
