{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile"><i class="fa fa-user fa-fw fa-lg"></i>Profile</a></li>
    <li role="presentation" class="active"><a href="/input/banking"><i class="fa fa-list-alt fa-fw fa-lg"></i> Survey</a></li>
    <li role="presentation"><a href="/results"><i class="fa fa-bullseye fa-fw fa-lg"></i>Priority Goals</a></li>
    <li role="presentation"><a href="/investments"><i class="fa fa-line-chart fa-fw fa-lg"></i>  Investments</a></li>
</ul>
<br>
	
<form action="/input/match_401k" method="POST">		
	<div class="container" style="width: 50%">
		<div class="jumbotron">
			<nav>
				<ul class= "pagination">
					<li><a href="/input/banking">1</a></li>
					<li><a href="/input/assets">2</a></li>
					<li><a href="/input/income">3</a></li>
					<li><a href="/input/comp_401k">4</a></li>
					<li class="active"><a href="/input/match_401k">Question 5</a></li>
					<li><a href="/input/match_percent">6</a></li>
					<li><a href="/input/match_salary">7</a></li>
					<li><a href="/input/risk_tolerance">8</a></li>
				</ul>
			</nav>
			
			Does your company offer a 401k match?
		    {% if match_401k == "Yes" %}
			    <label><input type="radio" name="match" value="Yes" checked="checked"> Yes 
			    </label>
			    <label><input type="radio" name="match" value="No"> No 
			    </label>
		    {% else %}
			    <label><input type="radio" name="match" value="Yes" > Yes 
			    </label>
			    <label><input type="radio" name="match" value="No" checked="checked"> No 
			    </label>
		    {% endif %}
	    	
			<p><button class="btn btn-primary" type="submit">Next</button></p>
			
		</div>
	</div>
</form>

{% endblock %}
