{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile">
    	<i class="fa fa-user fa-fw fa-lg"></i>Profile
    </a></li>
    <li role="presentation"><a href="/input/banking">
    	<i class="fa fa-list-alt fa-fw fa-lg"></i> Survey
    </a></li>
    <li role="presentation"><a href="/results">
    	<i class="fa fa-bullseye fa-fw fa-lg"></i>Priority Goals
    </a></li>
    <li role="presentation" class="active"><a href="/investments">
    	<i class="fa fa-line-chart fa-fw fa-lg"></i>  Investments
    </a></li>
</ul>
<br>

<div class="container" style="width: 65%">
	<div class="jumbotron" style="padding: 5px">

		<h5> Risk Tolerance: {{risk_prof}} &nbsp
			{% if risk_prof == "Conservative" %}
				<i class="fa fa-circle fa-lg"></i>
				<i class="fa fa-circle-o fa-lg"></i>
				<i class="fa fa-circle-o fa-lg"></i>
			{% elif risk_prof == "Moderate" %}
				<i class="fa fa-circle fa-lg"></i>
				<i class="fa fa-circle fa-lg"></i>
				<i class="fa fa-circle-o fa-lg"></i>
			{% else %}
				<i class="fa fa-circle fa-lg"></i>
				<i class="fa fa-circle fa-lg"></i>
				<i class="fa fa-circle fa-lg"></i>
			{% endif %}
		</h5>

		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" id="line_total">
				<i class="fa fa-area-chart fa-fw fa-lg"></i>
				Total Performance</button>
			<button type="button" class="btn btn-default" id="line_individual">
				<img src="../static/img/line_chart2.png" />
		        Individual Breakout</button>
			<button type="button" class="btn btn-default" id="pie">
				<i class="fa fa-pie-chart fa-fw fa-lg"></i>
				Portfolio Allocation</button>
		</div>
		<br>
		<br>

		<div id="total_performance" style="width:90%; height:400px; 
		margin-left: auto; margin-right: auto"> </div>
		<div id="all_performance" style="width:90%; height:400px; 
		margin-left: auto; margin-right: auto; display: none"> </div>
		<div id="allocation" style="width:90%; height:400px; 
		margin-left: auto; margin-right: auto; display: none"></div>
		<br>

		<form action="/investments" method="POST">	
			<form class="form-inline">
				<div class="form-group">
					<label for="Input comparison tickers">Compare:</label>
					<input type="text" name="compare_ticker" 
					placeholder="Enter ticker here" class="form-control">
				</div>
				<button type="submit" class="button">
					<i class="fa fa-plus-circle fa-lg"></i>
				</button>
			</form>
		</form>
		<br>	
	</div>
</div>				

<script>
var chart_ticker_data = {{chart_ticker_data|safe}};
var dates = {{dates|safe}};
var total_performance = {{total_performance|safe}};
var prof_ticker_data = {{prof_ticker_data|safe}};
var ticker_query_1 = {{ticker_query_1|safe}};
var ticker_query_2 = {{ticker_query_2|safe}};
var ticker_query_3 = {{ticker_query_3|safe}};
var ticker_query_4 = {{ticker_query_4|safe}};
var ticker_query_5 = {{ticker_query_5|safe}};
</script>
<script type="text/javascript" src="../static/investments.js"></script>

{% endblock %}
