{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/input/banking">Survey</a></li>
    <li role="presentation"><a href="/results">Results</a></li>
    <li role="presentation"><a href="/investments">Investments</a></li>
</ul>

<h3> Profile </h3>
<p> Assets: {{assets}} </p>
<p> Income: {{income}} </p>
<p> Does your company have a 401k? {{company_401k}} </p>
<p> Does your company have a 401k match? {{company_match}} </p>
<p> Percentage of match: {{match_percent}} </p>
<p> Percentage of salary: {{match_salary}} </p>
<p> Risk tolerance: {{risk_profile}} </p>
<br>

{% endblock %}
