{% extends 'base.html' %}
{% block body %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/input/banking">Survey</a></li>
    <li role="presentation"><a href="/results">Results</a></li>
    <li role="presentation"><a href="/investments">Investments</a></li>
</ul>

<br>
<br>

<div class="container" style="width: 65%">
	<div class="jumbotron" style="padding-top: 15px; padding-bottom: 15px">
		<h3> Summary </h3>
		<table class="table table-hover">
			<col width="200">
			<col width="100">
			<col width="50">
			<tr align="left">
				<th>Survey Question</th>
				<th>Response</th>
				<th></th>
			</tr>
			<tr align="left">
				<td>Assets</td>
				<td>{{assets}}</td>
				<td>
					<a href="/input/assets">Edit</a>
				</td>
			</tr>
			<tr align="left">
				<td>Income</td>
				<td>{{income}}</td>
				<td>
					<a href="/input/income">Edit</a>
				</td>
			</tr>
			<tr align="left">
				<td>Does your company have a 401k?</td>
				<td>{{company_401k}}</td>
				<td>
					<a href="/input/comp_401k">Edit</a>
				</td>
			</tr>
			<tr align="left">
				<td>Does your company have a 401k match?</td>
				<td>{{company_match}}</td>
				<td>
					<a href="/input/match_401k">Edit</a>
				</td>
			</tr>
			<tr align="left">
				<td>Percentage of match</td>
				<td>{{match_percent}}</td>
				<td>
					<a href="/input/match_percent">Edit</a>
				</td>
			</tr>
			<tr align="left">
				<td>Percentage of salary</td>
				<td>{{match_salary}}</td>
				<td>
					<a href="/input/match_salary">Edit</a>
				</td>
			</tr>
			<tr align="left">
				<td>Risk tolerance</td>
				<td>{{risk_profile}}</td>
				<td>
					<a href="/input/risk_tolerance">Edit</a>
				</td>
			</tr>
		</table>
		<br>
	</div>
</div>

{% endblock %}
